/*Navigation Bar*/
header {
    background-color: #2C3E50;
    color: white;
    font-family: Lato, helvetica ;
    border-radius: 5px;
}
nav {
    margin: 0;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    padding: 23.6px 10px;
    font-size: 15px;
}

.logo {
    float: left;
    padding: 20px 10px;
    font-size: 20px;
}

.logo:hover, li:hover {
    color:#18bc9c;
}



.content {
    /*box-sizing: content-box;*/
    /*width: 50%;*/
    margin: auto;

}


.image {
    border-style: solid;
    border-width: 2px;
    border-color: black;


}

.login {
    font-family: Lato;
    background-color: white;
    width: 455px;
    height: 255px;
    border-color: #ecf0f1;
    border-radius: 4px;
    margin-right: 0px;



}
.login h4 {
    color: black;
    background-color: #ECF0F1;
    font-size: 17px;
    padding: 10px 15px;
    margin: auto;
}

.login .name, .login .password {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #dce4ec;
    border-radius: 4px;


}

.login .submit {
    background-color: #2C3E50;
    width: 100%;
    text-align: center;
    padding: 18px 27px;
    color: white;
    font-size: 19px;
    border-radius: 6px;
}

.login .form {
    padding: 15px;

}


/*footer*/
/*footer {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    background-color: gray;*/
/*    text-align: center;*/
/*}*/

/*#policy {*/
/*    margin-right: 5px;*/
/*}*/

/*#tos {*/
/*    margin-left: 5px;*/
/*}*/

/*footer p {*/
/*    margin: 10px;*/
/*}*/