/*-------Navigation Bar--------*/
header {
    background-color: #2C3E50;
    color: white;
    font-family: Lato, helvetica ;
    border-radius: 5px;
}
nav {
    margin: 0;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    padding: 23.6px 10px;
    font-size: 15px;
}

.logo {
    float: left;
    padding: 20px 10px;
    font-size: 20px;
}

.logo:hover, li:hover {
    color:#18bc9c;
}


/*----------Content info----------*/
.content {

    position: absolute;
    margin: auto;
    width: 100%;
}

#image {
    position: absolute;
    width: 50%;
    margin-right: 50%;
    margin-top: 50px;
}

#form {
    position: absolute;
    width: 50%;
    margin-left: 50%;
    margin-top: 30px;
}

.image {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    float: right;
    margin-right: 50px;

}

.form {
    font-family: Lato;
    background-color: white;
    width: 455px;
    height: 255px;
    border-color: #ecf0f1;
    border-radius: 4px;
    margin-left: 50px;

}

.panel {
    padding: 15px;
}

.login h4 {
    color: black;
    background-color: #ECF0F1;
    font-size: 17px;
    padding: 10px 15px;
    margin: auto;
}

.login .name, .login .password {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #dce4ec;
    border-radius: 4px;

}

.login .password {
    margin-top: 15px;
    margin-bottom: 15px;
}
.login .submit {
    background-color: #2C3E50;
    width: 100%;
    text-align: center;
    padding: 18px 27px;
    color: white;
    font-size: 19px;
    border-radius: 6px;

}


/*----------footer----------*/
footer {
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px 0px;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    color: #999;
}

#policy {
    margin-right: 5px;
     margin:10px;
     color: #999;

}

#tos {
    margin-left: 5px;
     margin: 10px;
     color: #999;
}

footer-links, #copyright {
    margin: 10px 10px 0px;
}



